---
const { href, name, description } = Astro.props as {
  href: string;
  name: string;
  description: string;
};
---

<a class="category-card" href={href}>
  <h3>{name}</h3>
  <p>{description}</p>
</a>
